<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
  <link rel="stylesheet" href="style.css">

</head>

<body>



<div id="container">
    <form action="">
    <label for="nombre">Nombre</label>
    <input type="text" id="nombre" name="nombre" /> <br>

    <label for="apellido">Apellido</label>
    <input type="text" id="apellido" name="apellido"/> <br>

    <label for="nombreCaso"> Nombre del caso </label>
    <input type="text" id="nombreCaso" name="nombreCaso"/> <br>

    <label for="numeroBeneficio"> Numero del beneficio </label>
    <input type="text" id="numeroBeneficio" name="numeroBeneficio"/> <br>

    <label for="numeroExpediente"> Nombre de expendiente </label>
    <input type="text" id="numeroExpediente" name="numeroExpediente"/> <br>

    <label for="prestacion"> Prestación </label>
    <select name="prestacion" id="prestacion" placeholder="Elija una prestacion">
        <option value="jubilacionOrdinaria">Jublicaion ordinaria (PBU PC PAP)</option>
        <option value="pensionPorFallecimiento">Pensaion por fallecimiento del afiliado (directa)</option>
        <option value="retiroPorInvalidez">Retiro por invalidez</option>
        <option value="edadAvanzada">Edad avanzada</option>
        <option value="prestacionAnticipadaPorDesempleo">Prestacion anticipada por desempleo</option>
        <option value="rentaVitaliciaPrevisional">Renta vitalicia previsional</option>

    </select> <br>
    
    <label for="tiposDeAporte"> Tipos de Aporte </label>
    <select name="tiposDeAporte" id="tiposDeAporte">
        <option value="relacionDeDependencia">Relación de dependencia</option>
        <option value="autonomos">Autónomos</option>
        <option value="mixtos">Mixtos</option>

    </select> <br>

    <label for="fechaAdquisicionDerechos"> Fecha de adquisición de derechos </label>
    <input type="date" id="fechaAdquisicionDerechos" name="fechaAdquisicionDerechos"/> <br>

    <label for="fechaCese"> Fecha de Cese </label>
    <input type="date" id="fechaCese" name="fechaCese"/> <br>

    <label for="fechaSolicitudAnses"> Fecha de solicitud en A.N.S.E.S </label>
    <input type="date" id="fechaSolicitudAnses" name="fechaSolicitudAnses"/> <br>

   
    <div>

        <span>¿Es pensión derivado?</span>
        <input type="radio" class="radiobuton" id="pensionDerivadoSI" name="pensionDerivado" value="si"
                checked>
        <label for="pensionDerivadoSI">Si</label>
     
        <input type="radio" class="radiobuton" id="pensionDerivadoNO" name="pensionDerivado" value="no">
        <label for="pensionDerivadoNO">No</label>

     </div>

    <div id="aportesRegimenReparto">
        <table>
            <tr>
              <th><b>Aportes Régimen de Reparto</b></th>
              <th>Hasta el 30/06/94 (PC)</th>
              <th>Desde el 01/07/94 (PAP)</th>
            </tr>
            <tr>
              <td>Solo Relación de Dependencia:</td>
              <td> <input type="number"><input type="number"><input type="number"></td>
              <td><input type="number"><input type="number"><input type="number"></td>
            </tr>
            <tr>
              <td>Solo Autónomos:</td>
              <td><input type="number"><input type="number"><input type="number"></td>
              <td><input type="number"><input type="number"><input type="number"></td>
            </tr>
            <tr>
                <td>Simultáneos:</td>
                <td><input type="number"><input type="number"><input type="number"></td>
                <td><input type="number"><input type="number"><input type="number"></td>
              </tr>
          </table>

    </div>
    <div id="aportesCapitalizacion">
        <table>
            <tr>
              <th><b>Aportes Capitalización</b></th>
              <th> Aportes Capitalización</th>
              
            </tr>
            <tr>
              <td>Solo Relación de Dependencia:</td>
              <td> <input type="number"><input type="number"><input type="number"></td>
              
            </tr>
            <tr>
              <td>Solo Autónomos:</td>
              <td><input type="number"><input type="number"><input type="number"></td>
            </tr>
            
          </table>
    </div>

    <!-- ACA EMPEZARIA LA SEGUNDA PAGINA.-->

    <div>
        <span>Ferroviario Dec.406/89</span>
        <input type="radio" id="ferroviarioDec406SI" name="ferroviarioDec406" value="no">
        <label for="ferroviarioDec406SI">Si</label>
        <input type="radio" id="ferroviarioDec406NO" name="ferroviarioDec406" value="no">
        <label for="ferroviarioDec406NO">No</label>
    </div>


    <div>
        <span>Ferroviario Maquinista Dec. 662/812</span>

        <input type="radio" id="ferroviarioMaquinistaDecSI" name="ferroviarioMaquinistaDec" value="si">
        <label for="ferroviarioMaquinistaDecSI">Si</label>
        
        <input type="radio" id="ferroviarioMaquinistaDecNO" name="ferroviarioMaquinistaDec" value="no">
        <label for="ferroviarioMaquinistaDecNO">No</label>
    </div>

    <label for="fechaAlta"> Fecha de alta (dd/mm/año) </label>
    <input type="date" id="fechaAlta" name="fechaAlta"/>

    <div>
        <span>¿Aplica resolución 298?</span>

        <input type="radio" id="aplicaRes298SI" name="aplicaRes298" value="si">
        <label for="aplicaRes298SI">Si</label>
        
        <input type="radio" id="aplicaRes298NO" name="aplicaRes298" value="no">
        <label for="aplicaRes298NO">No</label>

    </div>

    <label for="fechaFinalizacionBeneficio"> Fecha de finalización del beneficio </label>
    <input type="date" id="fechaFinalizacionBeneficio" name="fechaFinalizacionBeneficio"/>

    <div>
        <span>¿Bonificación por zona austral?</span>

        <input type="radio" id="bonificacionZonaAustralSI" name="bonificacionZonaAustral" value="si">
        <label for="bonificacionZonaAustralSI">Si</label>
        
        <input type="radio" id="bonificacionZonaAustralNO" name="bonificacionZonaAustral" value="no">
        <label for="bonificacionZonaAustralNO">No</label>

    </div>

    <label for="porcentajeReciprocidad"> Porcentaje de reciprocidad</label>
    <input type="number" min="0" max="100"id="porcentajeReciprocidad" name="porcentajeReciprocidad" placeholder="%"/>

    <div>
        <span>¿Aplica el tape por aporte simultaneo entre restos de autónomos y remuneraciones?</span>

        <input type="radio" id="tapeAporteSimultaneoSI" name="tapeAporteSimultaneo" value="si">
        <label for="tapeAporteSimultaneoSI">Si</label>
        
        <input type="radio" id="tapeAporteSimultaneoNO" name="tapeAporteSimultaneo" value="no">
        <label for="tapeAporteSimultaneoNO">No</label>

    </div>

    <label for="descuentoObraSocial"> Descuento obra social </label>
    <select name="descuentoObraSocial" id="descuentoObraSocial">
        <option value="pami">INSSSyP (Pami)</option>
    </select>

    <div>
        <span>¿Aplica el minimo del 82% del SMVyM?</span>

        <input type="radio" id="aplicaelSMVyMSI" name="aplicaelSMVyM" value="si">
        <label for="aplicaelSMVyMSI">Si</label>
        
        <input type="radio" id="aplicaelSMVyMNO" name="aplicaelSMVyM" value="no">
        <label for="aplicaelSMVyMNO">No</label>

    </div>
    <div>
        <span>¿Calcula el Ampo a la fecha de solicitud?</span>

        <input type="radio" id="ampoFechaSolicitudSI" name="ampoFechaSolicitud" value="si">
        <label for="ampoFechaSolicitudSI">Si</label>
        
        <input type="radio" id="ampoFechaSolicitudNO" name="ampoFechaSolicitud" value="no">
        <label for="ampoFechaSolicitudNO">No</label>

    </div>


    <div>
        <span>¿Para calcular el promedio, utiliza las remuneraciones ingresadas en vez de las ultimas 120?</span>

        <input type="radio" id="remuneracionesIngresadasOultimas120SI" name="remuneracionesIngresadasOultimas120" value="si">
        <label for="remuneracionesIngresadasOultimas120SI">Si</label>
        
        <input type="radio" id="remuneracionesIngresadasOultimas120NO" name="remuneracionesIngresadasOultimas120" value="no">
        <label for="remuneracionesIngresadasOultimas120NO">No</label>

    </div>

    <div>
        <span>¿Haber minimo garantizado?</span>

        <input type="radio" id="haberMinimoGarantizadoSI" name="haberMinimoGarantizado" value="si">
        <label for="haberMinimoGarantizadoSI">Si</label>
        
        <input type="radio" id="haberMinimoGarantizadoNO" name="haberMinimoGarantizado" value="no">
        <label for="haberMinimoGarantizadoNO">No</label>

    </div>
    <p><b> Datos para el reajuste </b></p>
    <label for="tipoReajuste"> Tipo de reajuste: </label>
    <select name="tipoReajuste" id="tipoReajuste">
        <option value="reajusteAutomaticoReclamar">Automatico para RECLAMAR. Hacer reajuste, Demanda y Nota de reclamo</option>

        <option value="reajusteAutomaticoEvaluar">Automatico para EVALUAR la conveniencia del hacer el reajuste del haber.</option>

        <option value="reajusteAutomaticoMovilidad">Automatico solo movilidad por ALGO¿?</option>

        <option value="reajusteAutomaticoMovilidadReajustado">Automatico movilidad de ALGO¿? para casos ya reajustados</option>

        <option value="reajusteManual">MANUAL Ingresar cada uno de los parametros</option>

        <option value="reajusteLeyReparacion">Ley de reparacion historica</option>

        <option value="reajusteNO">No reajustar el haber.</option>
    </select> <br>
     
    <input type="submit" value="Cargar Datos">

</form>

</div>

</body>
</html>