body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    
}

#container{
    width:100%;
    background-color: rgba(5, 1, 1, 0.1);
    font-size: 9px;
    text-align: left;
    padding: 10px;
    

}


#container label,input,select{
    display: inline-block;
    margin-left: 5px auto;
    margin-bottom:10px;
    font-size: 9px;
    
}
#container form div label{
    margin-right: 10px;
}

#container form div label,input[type="radio"]{
    display: inline;
    
}

#container form div input[type="number"]{
    width: 50px;
    display: inline;
    margin: 1px;
}




/* ESTA ES LA TABLA DEL FORMULARIO  */
#aportesRegimenReparto table{
        
        border: 1px solid black;
}


#aportesCapitalizacion table{
    margin-top:10px;
    border: 1px solid black;
    
   
}

/* ESTA ES LA TABLA DEL FORMULARIO  */


