
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}


.navbar{
	font-size: 10px;
}

.moverDerechaNavBar{
	position: relative;
	left: 90%;
	margin-left: 1rem;
}



/* Estas son las caracteristicas del menu por pestañas    */

.menu {
	display: flex;
	font-size: 10px;
	background-color:#BAE9F3;
}

.menu p {
	font-size: 9px;
	margin: .4rem;
	cursor: pointer;
}

.moverDerecha{            /* Mueve a la derecha los menus "Remuneraciones", "Aportes Autonomos" y "Notas y Comentarios" */
	position: relative;
	left: 10%;
}

.content {
	margin-top: 0px;
}

[data-content] {
	display: none;
}

.active[data-content] {
	display: block;
	
}

/* Estas son las caracteristicas del menu por pestañas    */




/*Estilos del formulario  */ 

.contenedorFormulario{
    width:100%;
    background-color: rgba(5, 1, 1, 0.1);
    font-size: 9px;
    text-align: left;
    padding: 10px;
  

}


.contenedorFormulario label,input,select{
    display: inline-block;
    margin-left: 5px auto;
    margin-bottom:10px;
    font-size: 9px;
	
	
	    
}

.contenedorFormulario form input{
	background: rgb(255,255,255,.6);
	margin-left: 10px;
	border: none;

	
}

.contenedorFormulario form input[type="text"]{
	width: 200px;
	
}

.contenedorFormulario form div input[type="radio"]{
    margin-left:50px;
	    
}
	

.contenedorFormulario form div label{
    margin-right: 10px;
}

.contenedorFormulario form div label,input[type="radio"]{
    display: inline;
	    
}

.contenedorFormulario form div input[type="number"]{
    width: 50px;
    display: inline;
    margin: 1px;
}




/* ESTA ES LA TABLA DEL FORMULARIO  */
#aportesRegimenReparto table{
    border: 1px solid black;

}

#aportesRegimenReparto table td,th{
	
	padding: 6px;
	border: 1px solid black;
}

#aportesRegimenReparto table input{
	background: rgb(255,255,255,.6);
	display: block;
}

#aportesCapitalizacion{
	margin: 10px;
}

#aportesCapitalizacion table td,th{
	
	padding: 6px;
	border: 1px solid black;
}

#aportesCapitalizacion table input{
	background: rgb(255,255,255,.6);
	display: block;
}


/* ESTA ES LA TABLA DEL FORMULARIO  */

/*Estilos del formulario  */ 








/*Estilo PESTAÑA REMUNERACIONES */ 

#iconosRemuneraciones i{
	font-size:15px;
	padding:8px;
	
}

#fechasRemuneraciones{
	font-size:10px;
	width:90%;
	border: 1px solid rgb(0,0,0,.2);
	margin-left: 10px;
	padding:10px;
}

#fechasRemuneraciones div{
	display: inline-block;
	margin-right: 20px;
	
}

#fechasRemuneraciones div label{
	display:block;
	background: none;
	font-size:8px;
}

#fechasRemuneraciones div input,select{
	text-align: center;
	background: rgb(240,240,240,.6);
	width:130px;
	border: none;
}

.iconoSumarYEliminar{
	float: right;
	font-size:25px;
}

#encabezadoTablaRemuneracion{
	width: 90%;
	font-size: 9px;
	margin: 10px;
	border: 1px solid rgb(0,0,0,.2);
	padding: 10px;
	
}

#encabezadoTablaRemuneracion span,label{
	padding-right: 15px;
	margin-right: 100px;
		
}

#listaRemuneracion{
	font-size: 8px;
	width: 90%;
	max-width: none;
	margin: 10px;
	padding: 10px;
	border: 1px solid rgb(0,0,0,.2);
	
}

#listaRemuneracion div{
	padding: 0;
	margin: 0;
}



/*Estilo PESTAÑA REMUNERACIONES */ 